@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background-color: #fafaf9;
  --text-color-primary: #000000;
  --text-color-secondary: #7a7280;
  --header-border-color: #d9dada;
  --button-color-hover: #bdc3c7;
}

.gradient-bg-to-r-1 {
  @apply bg-gradient-to-r from-[#e33211] via-[#ea4ccc] to-[#1da1f2];
}
.gradient-bg-to-br-1 {
  @apply bg-gradient-to-br from-[#e33211] via-[#ea4ccc] to-[#1da1f2];
}
@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  scroll-behavior: smooth;
}
